<section class="content-main">
    <div class="row">
        <form action="/admin/add-products" method="post" enctype="multipart/form-data">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Product.</h2>
                    <div>
                        <button class="btn btn-md rounded font-sm hover-up" type="submit">Add</button><br>
                        {{#if productFound}}
                        <label class="text-center" style="color:rgb(180, 17, 17)">Product listed already!</label>
                        {{/if}}
                        {{#if productUploaded}}
                        <label class="text-center" style="color:rgb(22, 131, 22)">Product Successfully Uploaded</label>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-4">
                            <label for="product_brand" class="form-label">Brand</label>
                            <input type="text" placeholder="Type here" class="form-control" id="product_brand"
                                name="productBrand" required>
                        </div>
                        <div class="mb-4">
                            <label for="product_title" class="form-label">Product title</label>
                            <input type="text" placeholder="Type here" class="form-control" id="product_title"
                                name="productTitle" required>
                        </div>
                        <div class="row gx-3">
                            <div class="col-md-4  mb-3">
                                <label for="product_sku" class="form-label">Product ID</label>
                                <input type="text" placeholder="Type here" class="form-control" id="product_sku"
                                    name="productID" required>
                            </div>
                            <div class="col-md-4  mb-3">
                                <label for="product_color" class="form-label">Color</label>
                                <input type="text" placeholder="Type here" class="form-control" id="product_color"
                                    name="productColor">
                            </div>
                            <div class="col-md-4  mb-3">
                                <label for="product_size" class="form-label">Size</label>
                                <input type="text" placeholder="Type here" class="form-control" id="product_size"
                                    name="productSize">
                            </div>
                        </div>

                    </div>
                </div> <!-- card end// -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div>
                            <label class="form-label">Description</label>
                            <textarea placeholder="Type here" class="form-control" rows="4"
                                name="productDescription"></textarea>
                        </div>
                    </div>
                </div> <!-- card end// -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="d-flex gap-2 mb-3 ">

                            <img class="img-sm img-thumbnail" id="file-ip-0-preview">
                            <img class="img-sm img-thumbnail" id="file-ip-1-preview">
                            <img class="img-sm img-thumbnail" id="file-ip-2-preview">
                            <img class="img-sm img-thumbnail" id="file-ip-3-preview">
                        </div>
                        <div>
                            <label class="form-label">Images</label>
                            <input class="form-control" type="file" id="file-ip-0" accept="image/*" onchange="showPreview(event)" name="productImage">
                            <input class="form-control" type="file" id="file-ip-1" accept="image/*" onchange="showPreview(event)" name="productImage">
                            <input class="form-control" type="file" id="file-ip-2" accept="image/*" onchange="showPreview(event)" name="productImage">
                            <input class="form-control" type="file" id="file-ip-3" accept="image/*" onchange="showPreview(event)" name="productImage">

                        </div>
                    </div>
                </div> <!-- card end// -->
            </div>
            <div class="col-lg-3">
                <div class="card mb-4">
                    <div class="card-body">

                        <h5 class="mb-3">Categories</h5>
                        <div class="mb-4">
                            <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                <input class="form-check-input" name="productCategory" type="radio" value="men">
                                <span class="form-check-label">Men</span>
                            </label>
                            <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                <input class="form-check-input" name="productCategory" type="radio" value="women">
                                <span class="form-check-label">Women</span>
                            </label>
                            <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                <input class="form-check-input" name="productCategory" type="radio" value="accessories">
                                <span class="form-check-label">Accessories</span>
                            </label>
                        </div>
                        <hr>
                        <div class="mb-4">
                            <label class="form-label">Price</label>
                            <input type="text" placeholder="Type here" class="form-control" name="productPrice"
                                required>
                        </div>

                    </div>
                </div> <!-- card end// -->
            </div>
        </form>
    </div>
</section>


<script defer src="https://cdn.crop.guide/loader/l.js?c=KMVWFY"></script>

<script>
    function showPreview(event) {
        for (i = 0; i <= 3; i++) {
            if (event.target.files.length > 0) {
                var src = URL.createObjectURL(event.target.files[i]);
                var preview = document.getElementById(`file-ip-${i}-preview`);
                preview.src = src;
                preview.style.display = "block";
            }
        }

    }
</script>