<section>
    <main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
            style="background-image: url('assets/images/backgrounds/login-bg.jpg')">
            <div class="container">
                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active">Change Password</a>
                            </li>
                        </ul>

                        {{!-- REGISTRATION FORM --}}
                        <div class="tab-pane fade show active" id="register-2" role="tabpanel"
                            aria-labelledby="register-tab-2">


                            <form action="/change-password" id="userForm" method="post"
                                onsubmit="return validateForm()">

                                <input type="tel" class="form-control" id="mobNo" name="mobNo" value="{{mobNo}}" hidden>
                                <div class="form-group">
                                    <label for="registerPassword">Password</label>
                                    <input type="password" class="form-control" id="newPassword" name="changedPassword"
                                        required onblur="return validatePassword()">
                                    <label id="password-error" class="errorLabel text-danger"
                                        for="registerPassword"></label>
                                </div><!-- End .form-group -->

                                <div class="form-group">
                                    <label for="registerPassword">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirmPassword">
                                    <label id="confirmPassword-error" class="errorLabel text-danger"
                                        for="registerPassword"></label>
                                </div><!-- End .form-group -->

                                <div class="form-footer">
                                    <button id="button" type="submit" class="btn btn-outline-primary-2">Change
                                        Password</button>
                                    <label id="submit-error" class="errorLabel text-danger" for="button"></label>
                                    </button>

                                    {{#if passwordChanged}}
                                    <p class="text-center" style="color:rgb(0, 173, 58)">Password Changed! Login
                                        To
                                        Continue
                                    </p>
                                    {{/if}}

                                    {{#if passwordErr}}
                                    <p class="text-center" style="color:rgb(175, 4, 27)">Invalid OTP
                                    </p>
                                    {{/if}}
                                </div><!-- End .form-footer -->



                            </form>
                        </div><!-- .End .tab-pane -->


                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .container -->
        </div><!-- End .login-page section-bg -->
    </main><!-- End .main -->


</section>

<script>
    var passwordError = document.getElementById('password-error');
    var submitError = document.getElementById('submit-error');

    function validatePassword() {
        var password = document.getElementById('registerPassword').value;
        if (password == "") {
            passwordError.innerHTML = 'Password cannot be blank'
            return false
        }
        if (!password[0].match(/^(?=.*[A-Z])/)) {
            passwordError.innerHTML = 'First letter should be capital'
            return false
        }

        if (password.length < 8) {
            passwordError.innerHTML = 'Atleast 8 characters'
            return false
        }

        if (!password.match(/^(?=.*[0-9])/)) {
            passwordError.innerHTML = 'Atleast use one number'
            return false
        }
        if (!password.match(/^(?=.*[!@#$%^&*])/)) {
            passwordError.innerHTML = 'Atleast use one special character'
            return false
        }
        if (!password.match(/^(?=.*[a-z])/)) {
            passwordError.innerHTML = 'Use atleast one lowercase letter'
            return false
        }
        passwordError.innerHTML = "";
        return true


    }

    function validateForm() {
        let newPassword = document.getElementById('newPassword').value;
        let confirmPassword = document.getElementById('confirmPassword').value;
        let confirmPasswordError = document.getElementById('confirmPassword-error');

        if (!newPassword || newPassword === "" || newPassword.length < 8) {
            submitError.innerHTML = 'Password should contain atleast 8 characters'
        } else if (!confirmPassword || confirmPassword === "" || newPassword != confirmPassword) {
            confirmPasswordError.innerHTML = 'Password does not match!';
            return false;
        }
        confirmPasswordError.innerHTML = "";
        return true;
    }

</script>