<section>
    <main class="main">

        <div class="page-content">
            <div class="checkout">
                <div class="container">


                    <form action="/edit-address" method="post" id="checkout-form" onsubmit="return validateAddress()">
                        <input type="text" name="userId" id="" value="{{user._id}}" hidden>
                        <div class="row">
                            <div class="col-lg-9">
                                <h1 class="checkout-title">Edit Address</h1><!-- End .checkout-title -->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Full Name *</label>
                                        <input type="text" id="address-name" class="form-control" name="addressName" value="">
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->


                                <label>Personal Address *</label>
                                <input type="text" id="address" class="form-control" placeholder="House number and Appartments"
                                    name="addressHouseName" required>
                                
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label>Town / City *</label>
                                        <input type="text" class="form-control" name="addressTown" required>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-4">
                                        <label>State *</label>
                                        <input type="text" class="form-control" name="addressState" required>
                                    </div><!-- End .col-sm-6 -->
                                    <div class="col-sm-4">
                                        <label>Country *</label>
                                        <input type="text" class="form-control" name="addressCountry" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Postcode / ZIP *</label>
                                        <input type="text" id="address-pin" class="form-control" name="addressPIN" required>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>Phone *</label>
                                        <input type="text" id="address-phone" class="form-control" name="addressMob" required>

                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                            </div><!-- End .col-lg-9 -->

                        </div><!-- End .row -->
                        <div class="btn-wrap mt-3">
                            <button type="submit" class="btn btn-outline-primary-2 mx-3"><span>SAVE</span><i
                                    class="icon"></i></a>
                        </div><!-- End .btn-wrap -->

                    </form>
                </div><!-- End .container -->
            </div><!-- End .checkout -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->
</section>

<script>

function validateAddress() {
		console.log('Place ORder button clicked')
		let orderName = document.getElementById('address-name').value;
		let orderAddress = document.getElementById('address').value;
		let orderPIN = document.getElementById('address-pin').value;
		let orderMob = document.getElementById('address-phone').value;

		if (!orderName || orderName === "" || orderName.length<5) {
			alert('Name Should contain atleast 5 characters');
			return false;
		} else if (!orderAddress || orderAddress === "" || orderAddress.length < 7) {
			alert('Address Should contain atleast 7 characters');
			return false;
		} else if (isNaN(orderPIN) || !orderPIN || orderPIN === "" || orderPIN.length < 6) {
			alert('PIN Should contain 6 Digits');
			return false;
		} else if (isNaN(orderMob) || !orderMob || orderMob === "" || orderMob.length < 10) {
			alert('Mobile Number Should contain 10 Digits');
			return false;
	    } else {
			return true;
		}
		return true;
	}

</script>