<section>
    <main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Register</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
            style="background-image: url('assets/images/backgrounds/register-bg.jpg')">
            <div class="container">
                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="/signup"
                                    role="tab" aria-controls="register-2" aria-selected="true">Register</a>
                            </li>
                        </ul>

                        {{!-- REGISTRATION FORM --}}
                        <div class="tab-pane fade show active" id="register-2" role="tabpanel"
                            aria-labelledby="register-tab-2">


                            <form id="userForm" action="/signup" method="post">
                                <div class="form-group">
                                    <label for="registerName">Full Name</label>
                                    <input type="text" class="form-control" id="registerName" name="registerName"
                                        required onblur="validateName()">
                                    <label id="name-error" class="errorLabel text-danger" for="registerName"></label>
                                </div><!-- End .form-group -->

                                <div class="form-group">
                                    <label for="register-email-2">Email </label>
                                    <input type="email" class="form-control" id="registerEmail" name="registerEmail"
                                        required onblur="validateEmail()">
                                    <label id="email-error" class="errorLabel text-danger" for="registerEmail"></label>
                                </div><!-- End .form-group -->

                                <div>
                                    <label for="registerMobileno">Mobile Number</label>
                                    <input type="tel" class="form-control" id="registerMobileno" name="registerMobileno"
                                        required onblur="validateMobileno()">
                                    <label id="mobile-error" class="errorLabel text-danger"
                                        for="registerMobileno"></label>
                                </div><!-- End .form-group -->

                                <div class="form-group">
                                    <label for="registerPassword">Password</label>
                                    <input type="password" class="form-control" id="registerPassword"
                                        name="registerPassword" required onblur="validatePassword()">
                                    <label id="password-error" class="errorLabel text-danger"
                                        for="registerPassword"></label>
                                </div><!-- End .form-group -->

                                <div class="form-group">
                                    <label for="confirmPassword">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirmPassword"
                                        name="confirmPassword" required onblur="confirmPassword()">
                                    <label id="confirm-password-error" class="errorLabel text-danger"
                                        for="confirmPassword"></label>
                                </div><!-- End .form-group -->

                                <div class="form-footer">
                                    <button id="button" type="submit" class="btn btn-outline-primary-2"
                                        onclick="return validateForm()">Register</button>
                                    <label id="submit-error" class="errorLabel text-danger" for="button"></label>
                                    </button>

                                    {{#if registered}}
                                    <p class="text-center" style="color:rgb(0, 173, 58)">Registered Sucesssfully! Login
                                        To
                                        Continue
                                    </p>
                                    {{/if}}
                                    {{#if oldUser}}
                                    <p class="text-center" style="color:red">user already exists!
                                    </p>
                                    {{/if}}

                                </div><!-- End .form-footer -->



                            </form>

                        </div><!-- .End .tab-pane -->


                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .container -->
        </div><!-- End .login-page section-bg -->
    </main><!-- End .main -->


</section>

<script>
    console.log(typeof confirmPassword, 'TYpe OF COnfirm PAsowwrd');
    var nameError = document.getElementById('name-error');
    var emailError = document.getElementById('email-error');
    var mobileError = document.getElementById('mobile-error');
    var passwordError = document.getElementById('password-error');
    var submitError = document.getElementById('submit-error');
    var confirmPasswordError = document.getElementById('confirm-password-error');



    function validateName() {

        var name = document.getElementById('registerName').value;

        if (name == '') {
            nameError.innerHTML = 'Name is required';
            return false;
        }
        if (!name[0].match(/^(?=.*[A-Z])/)) {
            nameError.innerHTML = 'First letter should be capital'
            return false
        }
        nameError.innerHTML = '';
        return true;
    }

    function validateEmail() {
        var email = document.getElementById('registerEmail').value;

        if (email.length == 0) {
            emailError.innerHTML = 'Email is required';
            return false;
        }
        if (!email.match(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/)) {
            emailError.innerHTML = 'Email invalid';
            return false;
        }
        emailError.innerHTML = '';
        return true;
    }

    function validateMobileno() {
        var mobileNo = document.getElementById('registerMobileno').value;
        if (mobileNo === " " || mobileNo.length < 10 || mobileNo.length > 10 || isNaN(mobileNo)) {
            mobileError.innerHTML = 'Mobile Number should contain 10 Digits';
            return false;
        }
        mobileError.innerHTML = "";
        return true;
    }

    function validatePassword() {
        var password = document.getElementById('registerPassword').value;
        if (password == "") {
            passwordError.innerHTML = 'Password cannot be blank'
            return false
        }
        if (!password[0].match(/^(?=.*[A-Z])/)) {
            passwordError.innerHTML = 'First letter should be capital'
            return false
        }

        if (password.length < 8) {
            passwordError.innerHTML = 'Atleast 8 characters'
            return false
        }

        if (!password.match(/^(?=.*[0-9])/)) {
            passwordError.innerHTML = 'Atleast use one number'
            return false
        }
        if (!password.match(/^(?=.*[a-z])/)) {
            passwordError.innerHTML = 'Use atleast one lowercase letter'
            return false
        }
        passwordError.innerHTML = "";
        return true

    }

    function confirmPassword() {
        var confirmPassword = document.getElementById('confirmPassword').value;
        var password = document.getElementById('registerPassword').value;
        console.log(confirmPassword, password, 'Password Entered');
        if (confirmPassword !== password) {
            confirmPasswordError.innerHTML = 'Password does not match'
            return false;
        }
        confirmPasswordError.innerHTML = "";
        return true;
    }

    function validateForm() {
        if(!validateName() || !validateEmail() || !validateMobileno() || !validatePassword()){
            submitError.innerHTML = 'Please Enter valid Details'
            return false;
        }
        return true;
    }





</script>