<!DOCTYPE HTML>
<html lang="en">



<head>
    <meta charset="utf-8">
    <title>Dotmart Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    {{!--
    <link rel="shortcut icon" type="image/png" href="../../adminassets///imgs/theme/favicon.svg"> --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="/dotmart-monogram.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/dotmart-monogram.png">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    


    <script src="/javascripts/script.js"></script>
    <!-- Template CSS -->
    <link href="/css/main.css" rel="stylesheet">
    {{!--
    <link href="assets/css/main.css" rel="stylesheet" type="text/css" /> --}}

</head>

<body>
    {{#if loginPage}}

    {{else}}
    {{>admin-sidebar}}

    <main class="main-wrap">
        {{>admin-header}}
        {{/if}}
        {{{body}}}
    </main>

    {{!-- SCRIPTS --}}

    <script src="/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/js/vendors/select2.min.js"></script>
    <script src="/js/vendors/perfect-scrollbar.js"></script>
    <script src="/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/js/vendors/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <!-- Main Script -->
    <script src="/js/main.js" type="text/javascript"></script>
    {{!-- <script src="/js/custom-chart.js" type="text/javascript"></script> --}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>


    {{!--
    <script src="/js/custom-chart.js" type="text/javascript"></script>
    <script src="/js/echarts.min.js" type="text/javascript"></script> --}}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="https://cdn.crop.guide/loader/l.js?c=RCMXGY"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->

</html>